{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container-critique">
    <div>
        <a class="custom-button" href="{% url 'ticket_create' %}">Demander une critique</a>
        <a class="custom-button" href="{% url 'review_create' %}">Créer une critique</a>
    </div>
</div>


{% for post in posts %}
    {% if post.content_type == 'ticket' %}
        <div class="ticket">

            {% if post.user == request.user %}
                <p>Vous avez créé une demande de critique le {{post.time_created}}</p>
            {% else %}
            <p>{{ post.user }} a créé une demande de critique le {{post.time_created}}</p>
            {% endif %}

                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img class="image" src="{{ post.image.url }}" alt="image">
                {% endif %}
                {% if request.user.id in post.users %}
                    <p>Vous avez déjà répondu à cette demande de critique</p>
                {% else %}
                    <a class="custom-button" href="{% url 'review_create' pk=post.id %}">Créer une critique</a>
                {% endif %}

            </div>
    {% endif %}
    {%if post.content_type == 'review' %}
        <div class="ticket">
            <p>{{ post.user }} a créé une critique le {{post.time_created}}</p>
            <h2>{{ post.headline }}</h2>
            <p>{{ post.body }}</p>
            <div class="rating">
            {% if  post.rating == 1 %}
                <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
                <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
                <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
                <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
                <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            {% elif post.rating == 2 %}
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            {% elif post.rating == 3 %}
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            {% elif post.rating == 4 %}
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            {% elif post.rating == 5 %}
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            {% endif %}
            </div>
        <div class="ticket">
            <p>La critique a été faite pour la demande de critique suivante :</p>
            <p>{{ post.ticket.user }} a créé une demande de critique le {{post.ticket.time_created}}</p>
            <h2>{{ post.ticket.title }}</h2>
            <p>{{ post.ticket.description }}</p>
            {% if post.ticket.image %}
                <img class="image" src="{{ post.ticket.image.url }}" alt="image">
            {% endif %}
        </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
