{% extends "base.html" %}


{% block content %}
<div class="container-critique">
    <div>
        <a class="custom-button" href="{% url 'ticket_create' %}">Demander une critique</a>
        <a class="custom-button" href="{% url 'review_create' %}">Créer une critique</a>
    </div>
</div>


{% for post in posts %}
    {% if post.content_type == 'ticket' %}
        <div class="ticket">
            {% if post.user == request.user %}
                <p>Vous avez créé une demande de critique le {{post.time_created}}</p>
            {% else %}
            <p>{{ post.user }} a créé une demande de critique le {{post.time_created}}</p>
            {% endif %}
                <h2>{{ post.title }}</h2>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img class="image" src="{{ post.image.url }}" alt="image">
                {% endif %}
            </div>
    {% endif %}
    {%if post.content_type == 'review' %}
        <div class="ticket">
            <p>{{ post.user }} a créé une critique le {{post.time_created}}</p>
            <h2>{{ post.headline }}</h2>
            </div>
    {% endif %}
{% endfor %}

{% endblock %}
