header {
    display: flex;
    height: 50px;
    width: 100%;
    box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #f8f9fa;
}

.nav-items {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-items a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.nav-items a:hover {
    background-color: #ddd
}

h1 {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: auto;
}

h2 {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: auto;
}

.button {
    position: relative;
    display: inline-block;
    transition: 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    font-size: 1.2em;
    overflow: hidden;
    line-height: 35px;
    border-radius: 0.3em;
    border: 1px solid #444444;
    text-align: center;
    margin-top: 10px;
    background-color: #b3b3b3;

}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-critique {
    display: flex;
    align-items: center;
    justify-content: center;
}


.create_user,
.login {
    flex: 1;
    margin-top: 20%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
}

.text {
    margin-bottom: 10px;
    text-align: center;
    align-self: center;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

a:hover {
    color: blue;
    text-decoration: underline;
    text-underline-offset: 1.5px;
}

form {
    width: 100%;
}

form input[type="radio"] {
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 10px;
}

form input[type="text"],
form input[type="password"],
form input[type="file"],
form textarea {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 30px;


}

form :focus {
    outline: 2px solid #007BFF;
}

form label {
    font-size: 1.5em;
    position: absolute;
    margin-left: 10px;
}

.custom-button {
    position: relative;
    display: inline-block;
    transition: background-color 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    font-size: 1.2em;
    overflow: hidden;
    line-height: 35px;
    border-radius: 0.3em;
    border: 1px solid black;
    color: black;
    text-align: center;
    margin-top: 10px;
    background-color: #b3b3b3;
    ;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.custom-button:active {
    background-color: black;
    color: white;

}

.custom-button:focus {
    outline: 2px solid #007BFF;
    outline-offset: 2px;
}

.create-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.row {
    display: flex;
    gap: 5px;
    margin: 5px 0 5px 0;
}

.right {
    justify-content: flex-end;
}

.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: #444444 1px solid;
}


.table_layout {
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
    border: 2px solid #4b4b4b;
}

.table_layout thead tr {
    background-color: #cfc7c7;
}

.table_layout thead tr th {
    text-align: left;
    width: auto;
    font-weight: bold;
}

.table_layout th,
.table_layout td {
    padding: 1px 10px;
    border: black 1px solid;
    font-weight: bold;
}

.table_layout .user {
    width: 100%;
}

.table_layout .align_center {
    text-align: center;
    font-weight: bold;
}