{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row center">
    <h2>Suivre d'autres utilisateur</h2>
</div>


<form class="form" method="post">
    {% csrf_token %}
    <div class="row">
        {{ form.followed_user }}{{ form.error.followed_user }}
    </div>
    <div class="row center"><input type="submit" value="Envoyer" class="button"></div>
</form>

<div class="row center">
    <h2>Abonnements</h2>
</div>
<table class="table_layout">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Désabonnement</th>
        </tr>
    </thead>
    <tbody>
        {% for user in follows %}
        <tr>
            <td class="user">{{ user.followed_user }}</td>
            <td class="align_center"><a href="{% url 'unfollow' user.id %}">Se désabonner</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row center">
    <h2>Abonnés</h2>
</div>
<table class="table_layout">
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        {% for user in followed_by %}
        <tr>
            <td>{{ user.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}