{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<title>LitReview</title>

<header>
        <h1>Page de connexion</h1>
</header>

<body>
    <div class="container">
        <block class="create_user">
            <div class="text">Inscrivez-vous maintenant</div>
            <form action="{% url 'signup' %}" method="get">
                <button type="submit" class="custom-button">S'inscrire</button>
            </form>
        </block>
        <block class="login">
            <div class="text">Connectez-vous</div>
            <form method="post">
                {% csrf_token %}
                <div class="">
                    <div class="">
                        <input type="text" name="username" id="username" placeholder="Nom d'utilisateur" />
                        <label for="username" class="visually-hidden">Nom d'utilisateur</label>
                    </div>
                    <div class="">
                        <input type="password" name="password" id="password" placeholder="Mot De Passe" />
                        <label for="password" class="visually-hidden">Mot De Passe</label>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="custom-button">Se connecter</button>
                </div>           
            </form>

        </block>
    </div>
</body>
</html>
