{% extends "base.html" %}
{% load static %}

{% block content %}

{% for ticket in tickets %}

<div class="ticket">
    <div class="row">
        <p>Vous avez publié un ticket le {{ ticket.time_created }} </p>
    </div>

    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
    <img class="image" src="{{ ticket.image.url }}" alt="image de {{ ticket.title }} ">
    {% endif %}

    <div >
        <a class="custom-button" href="{% url 'ticket_update' ticket.id %}">Modifier</a>
        <a class="custom-button" href="{% url 'ticket_delete' ticket.id %}">Supprimer</a>
    </div>
</div>
{% endfor %}

{% for review in reviews %}
<div class="ticket">
    <div class="row">
        <p>Vous avez publié un avis le {{ review.time_created }} </p>
    </div>
    <h2>{{ review.headline }}</h2>
    <p>{{ review.body }}</p>
    <div class="rating">
        {% if  review.rating == 1 %}
            <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
            <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        {% elif review.rating == 2 %}
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        {% elif review.rating == 3 %}
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        {% elif review.rating == 4 %}
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile0.png' %}" alt="note 0">
        {% elif review.rating == 5 %}
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        <img class="etoile" src="{% static 'images/etoile1.png' %}" alt="note 1">
        {% endif %}
        </div>
    <div class="ticket">
    <p>Publié pour le ticket : {{ review.ticket.title }}</p>
    <p>Publié par : Vous</p>
    <p>Description : {{review.ticket.description}}</p>
    {% if review.ticket.image %}
    <img class="image" src="{{ review.ticket.image.url }}" alt="image de {{review.ticket.title}}">
    {% endif %}
    </div>
    <div >
        <a class="custom-button" href="{% url 'review_update' review.id %}">Modifier</a>
        <a class="custom-button" href="{% url 'review_delete' review.id %}">Supprimer</a>
    </div>
{% endfor %}

{% endblock %}