{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Vous êtes sur le point de supprimer la critique suivante : </p>
        <p>Titre : {{ review.headline }}</p>
        <p>Description : {{ review.body }}</p>
        <p> Etes vous sûr de vouloir supprimer cette critique ? </p>
        <div class="row right">
            <input type="submit" value="{{ submit}}" class="button">
        </div>
    </form>
</div>
{% endblock content %}