{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<title>
    {% block title %}
    {{ app_name }}
    {% endblock title %}
</title>

<header>
    <h1>
{% block header %}
    {% block AppName %}
    {{ page_name }}
    {% endblock AppName %}
</h1>
</header>
{% endblock header %}

<nav>
    <div class="nav-items">
{% block nav %}
<a href="{% url 'home' %}">Accueil</a>
<a href="{% url 'myposts' %}">Posts</a>
<a href="{% url 'logout' %}">Déconnexion</a>
    </div>
</nav>
{% endblock nav %}

{% block content %}
{% endblock content %}
